

.firstrunwizard {margin:12px;}
.firstrunwizardheadline1 {font-size:16pt; font-color:666;}
.firstrunwizardlink {font-size:10pt; font-color:666;}
.firstrunwizardclose {font-size:8pt; font-color:999; text-align:right}

