div#controls{z-index:60;}
div.crumb { float:left; display:block; background:no-repeat right 0; padding:.75em 1.5em 0 1em; height:2.9em;}
div.crumb:first-child { padding-left:1em; }
div.crumb.last { font-weight:bold; }

table#readerContent { white-space:normal; position:absolute; top:40px; left:5px;font-family:Arial;}

table { position:relative; top:7px; width:100%;}
tbody tr { background-color:#fff; height:2.5em;}
tbody#fileList tr { background:white; float:left; height:150px;font-size:12px;}
tbody tr:hover, tbody tr:active, tbody tr.selected { background-color:#ffffff; }
	
.thumbnail:not([data-loaded]) { background-color: white; }

td.filename.svg{ background:no-repeat; vertical-align:text-bottom; height:150px; width:150px; white-space:normal; text-align:center;
	 color:#888; text-shadow:#fff 0 1px 0;}
td.filename.svg:hover{ background-color:#ffffff; }

a.name img,a.dirs img { border: 1px solid #EEE; -webkit-box-shadow: 4px 4px 4px 0px grey; box-shadow: 4px 4px 4px 0px grey;}
a.dirs{ position:relative; left:5px; margin-left:5px; }

center { width:150px; overflow:hidden; text-overflow:ellipsis;}
span.nametext{ font-family:Arial;font-size:15px;font-weight:normal;width:150px; white-space:nowrap; margin-left:5px; margin-right:5px; text-transform:capitalize; }

