/**
* ownCloud - ocDownloader plugin
*
* @author Xavier Beurois
* @copyright 2012 Xavier Beurois www.djazz-lab.net
* 
* This library is free software; you can redistribute it and/or
* modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
* License as published by the Free Software Foundation; either 
* version 3 of the License, or any later version.
* 
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU AFFERO GENERAL PUBLIC LICENSE for more details.
*  
* You should have received a copy of the GNU Lesser General Public 
* License along with this library.  If not, see <http://www.gnu.org/licenses/>.
* 
*/

#ocdownloader div.personalblock.topblock{margin-top:4.5em;}
#ocdownloader div.personalblock.bottomblock{margin-bottom:1em;}
#ocdownloader div.personalblock.titleblock{font-weight:bold;}
#ocdownloader div.personalblock{margin:1em 1em 0;padding:0.5em 1em;position:relative;background: none repeat scroll 0 0 #F8F8F8;border-radius:0.5em 0.5em 0.5em 0.5em;color:#555555;text-shadow:0 1px 0 #FFFFFF;border:1px solid #DDDDDD;box-shadow:0 1px 1px #FFFFFF,0 1px 1px #FFFFFF inset;}
#ocdownloader div.personalblock.red{background-color: #FA5858;border:0 none;text-shadow:none;}
#ocdownloader div#pr_url{display:none;}
#ocdownloader div#pr_url img#pr_logo{vertical-align:middle;margin-right:10px;}
#ocdownloader div#pr_url input{width:500px;}
#ocdownloader div#pr_url span#action{text-align:center;}
#ocdownloader div#pr_url div#result_state{font-weight:bold;}
