.section-antivirus .spoiler{
	display:none;
	margin-top: 14px;
}

.section-antivirus label {
	display: inline-block;
	min-width: 280px;
	margin-right: 6px;
	text-align: right;
}

.shaded{
	opacity: .3;
}

#antivirus-reset, #antivirus-clear{
	float: right;
}

#antivirus-add{
	margin:	10px;
	padding-left: 21px;
	background-position: 3px 50%;
}

.section-antivirus h3{
	float: left;
	margin-top: 7px;
}
