.section-antivirus .spoiler{
	display:none;
	margin-top: 14px;
}

.shaded{
	opacity: .3;
}

#antivirus-reset{
	float: right;
}

#antivirus-add{
	margin:	10px;
	padding-left: 21px;
	background-position: 3px 50%;
}

.section-antivirus h3{
	float: left;
	margin-top: 7px;
}
