#firstrunwizard { margin:12px; text-align:center; }
#firstrunwizard h1 { font-size:40px; font-weight:bold; margin:50px 0 20px; }
#firstrunwizard h2 { font-size:20px; font-weight:bold; margin:35px 0 10px; }

#firstrunwizard .appsmall { height:16px; width:16px; position:relative; top:3px; }
#firstrunwizard .appsmall-calendar,
#firstrunwizard .appsmall-contacts {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; filter:alpha(opacity=65); opacity:.65;
}

#firstrunwizard p a { font-weight:bold; }
#firstrunwizard p a:hover, #firstrunwizard p a:focus { color:#444; }
#firstrunwizard .footnote { margin-top:40px; }

#firstrunwizard .close { position:absolute; top:0; right:0; padding:20px; }
