/**
* ownCloud - Internal Bookmarks plugin
*
* @author Xavier Beurois
* @copyright 2012 Xavier Beurois www.djazz-lab.net
* 
* This library is free software; you can redistribute it and/or
* modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
* License as published by the Free Software Foundation; either 
* version 3 of the License, or any later version.
* 
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU AFFERO GENERAL PUBLIC LICENSE for more details.
*  
* You should have received a copy of the GNU Lesser General Public 
* License along with this library.  If not, see <http://www.gnu.org/licenses/>.
* 
*/

form#intbks ul#intbks_sortable{list-style-type:none;margin:0;padding:0;width:60%;}
form#intbks ul#intbks_sortable li{margin:0 3px 3px 3px;padding:0.4em;padding-left:1.5em;font-size:1.4em;height:18px;}
form#intbks ul#intbks_sortable li span{position:absolute;margin-left:-1.3em;background-image:url("img/222222_256x240_icons_icons.png");height:16px;width:16px;background-position:-128px -48px;}