
#upd-progress{ margin:5px 3px;width:600px;}
#upd-progress div {width:0;background-color:#5CE228;min-height:20px;}
#updater-content { width: 640px;margin: 20px 0 20px -180px;padding: 5px 20px 10px 20px;
background: #FFF .8em .8em no-repeat;border: 1px solid #CCC;
-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
cursor: default;
}

#updater-content ul {height:33px;margin-bottom: 12px;border-bottom: 3px solid #e2e2e2;}
#updater-content li {float:left;margin:5px 10px 5px 5px;padding:5px 15px 5px 15px;
-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;
background-color:#e2e2e2;border: 1px solid #cce;border-bottom:0 none;}
#updater-content li.current, #updater-content li:hover{background-color:#f2f2ff}

#updater-content table{width:100%;margin:20px 0;border:1px solid #aaa;}
#updater-content table th{padding:5px 10px;border-bottom:1px solid #999;}
#updater-content table td{padding:5px 10px}

#updater-content fieldset input, 
#updater-content fieldset input[type="text"]{font-size:1em;width:360px;}