#content-wrapper { overflow: hidden; } /* Avoid double scroll bars */
/* General element settings */
#content li { cursor: default; }
#content input[type=checkbox] { 
	height: 14px; width: 14px; 
	border: 0px solid #fff; 
	background-color: white;
	-moz-appearance:none; -webkit-appearance: none; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
}
#content input[type=radio] { 
	width: 12px; height: 12px; 
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
}
#content input[type=checkbox]:hover { border: 1px solid #D4D4D4 !important; }
#content input[type=checkbox]:checked::after {
  content: url('%appswebroot%/contacts/img/checkmark.png');
  display: block;
  position: relative;
  top: -2px;
  left: -1px;
}
#content input[type=radio]:checked::after {
  content: url('%appswebroot%/contacts/img/checkmark.png');
  margin: 0; padding: 0;
  display: inline-block;
  position: relative;
  top: -8px;
  left: -6px;
}
#content textarea { font-family: inherit; }

#content ::-moz-placeholder, #content input:-moz-placeholder, #content input[placeholder], #content input:placeholder, #content input:-ms-input-placeholder, #content input::-webkit-input-placeholder, #content input:-moz-placeholder { 
	color: #bbb; 
	text-overflow: ellipsis;
}

#content input:not([type="checkbox"]), #content select:not(.button), #content textarea { 
	background-color: #fefefe; border: 1px solid #fff !important; 
	-moz-appearance:none  !important; -webkit-appearance: none !important; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; 
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
	float: left;
}
#content input[type="button"]:hover, #content select:hover, #content select:focus, #content select:active, #content input[type="button"]:focus, #content .button:hover, button:hover { background-color:#fff; color:#333; }

#content fieldset, #content div, #content span, #content section {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}
#content fieldset.editor { 
	padding:4px;
	border: 1px solid #1d2d44; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; outline:none; 
}
#content input:invalid, #content input:hover:not([type="checkbox"]), #content input:active:not([type="checkbox"]), #content input:focus:not([type="checkbox"]), #content input.active, #content textarea:focus, #content textarea:hover { 
	border: 1px solid silver !important; 
	-moz-border-radius:.3em; -webkit-border-radius:.3em; border-radius:.3em; 
	outline:none; float: left;
}

/* Left content */

#leftcontent { position:absolute; top: 4em; bottom: 0; overflow-x:hidden; overflow-y: auto; padding: 0; margin: 0; }
#leftcontent a { display: inline-block; padding: 0; margin: 0; }
#leftcontent a.unshare {
	float: right;
}

#shareWithList .cruds {
	display: inline;
}

#shareWithList li {
	border-bottom: 1px solid silver;
}
#leftcontent h3 { 
	cursor: pointer; 
	-moz-transition: background 300ms ease 0s; 
	background: none no-repeat scroll 1em center #eee; 
	border-bottom: 1px solid #ddd; border-top: 1px solid #fff;
	display: block; 
	max-width: 100%; 
	height: 2em;
	padding: 0.5em 0.8em; 
	color: #666; 
	text-shadow: 0 1px 0 #f8f8f8; 
	font-size: 1.2em; 
}
#leftcontent h3:hover,#leftcontent h3:active,#leftcontent h3.active { 
	background-color: #DBDBDB; 
	border-bottom: 1px solid #CCCCCC; border-top: 1px solid #D4D4D4; 
	color: #333333; font-weight: bold; 
}
#leftcontent h3 img.shared { float: right; opacity: 0.4; margin: 0 .5em; }
#leftcontent h3 img.shared:hover { opacity: 1; }
#leftcontent h3.editing .checked { margin-left: -25px; opacity: 1; display: inline-block; float: left; }
#leftcontent h3.editing .checked.disabled { opacity: .5 }
#leftcontent h3 input[type="text"] {
	display: block;
	width: 100%;
	font-size: .8em;
	float: left;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	margin: auto 0 auto .3em;
}

#groupsheader { 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
	position: fixed;
	padding: 0; margin:0; 
	top:3.5em;
	height: 4em; width: 20em;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
    background: none repeat scroll 0 0 #F8F8F8;
}
/*#groupactions > button, .addcontact, .import-upload-button, .doImport {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #51A351 #419341 #387038;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #F8F8F8, 1px 1px 1px #AADDAA inset;
    background-color: #5BB75B;
	color: #fff;
    border-right: medium none;
    margin: .7em 2em;
}*/

#grouplist { z-index: 100; }
#grouplist h3 .action:not(.starred):not(.checked):not(.favorite) { float: right; display: none; padding: 0; margin: auto; }
#grouplist h3:not([data-type="shared"]):not(.editing):hover .action.numcontacts, #grouplist h3:not([data-type="shared"]):not(.editing) .active.action.numcontacts { display: inline-block; }
#grouplist h3.active[data-type="category"]:not(.editing):hover .action.delete { display: inline-block; }
#grouplist h3:not(.editing) .action.delete { width: 20px; height: 20px; }

/* First run */

#firstrun { position: relative; top: 25%; left: 20%; right: 20%; width: 50%; font-weight:bold; text-align: center; color: #777; }
#firstrun h3 { font-size:1.5em; text-align: center; margin-bottom: 1em; }
#firstrun p { font-size:1.2em; text-align:center; }
#firstrun #selections { font-size:0.8em; margin: 2em auto auto auto; clear: both; }

#contact { margin: 1em; }
#contact textarea { min-height: 5em; width: 100%; margin: 0 !important; padding: 0 !important; outline: 0 !important;}

#contact input[type="checkbox"] { margin: 3px; padding:1px; vertical-align: bottom; float: left; }
/*dl.form { display: block; width: auto; margin: 0; padding: 0; cursor: normal; }*/
.form dt { display: inline-block; clear: left; float: left; width: 7em; margin: 0; padding: 0.8em 0.5em 0 0; text-align:right; text-overflow:ellipsis; o-text-overflow: ellipsis; vertical-align: text-bottom; color: #bbb;/* white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap;*/ }
.form dd { display: inline-block; clear: right; float: left; margin: 0; padding: 0; white-space: nowrap; vertical-align: text-bottom; }

/* override the default margin on share dropdown */
#dropdown { margin: 1.5em 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; }
#dropdown label { display: list-item; }

/* reset box-sizing for multiSelect */
#content div.multiselect, #content div.multiselect > * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

/* Reset values for jquery.multiselect */
.ui-multiselect-checkboxes label { width: 100%; color: #333; font-size: 1em !important; }
.ui-multiselect-checkboxes input[type="checkbox"] { margin: 3px !important; }

#content .multiselectoptions > li > * { 
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; 
	color: #888888; 
	display: block;
	margin: 0; padding: .2em;
}

.action, .icon {
	display: inline-block; 
	cursor: pointer;
	background-repeat: no-repeat;
}
.action:not(.text), .icon:not(.text) { 
	width: 16px; height: 16px; 
	padding: 0; margin: 0; 
	background-position: center;
	background-size:contain;
}

.action:not(.add):not(.groups).text, .icon:not(.add):not(.groups).text {
	background-position: left; 
	text-indent: 18px;
}

/* TODO: Use @import url('%appswebroot%/contacts/css/[no-]svg.css); instead. */

/*.no-svg .add { background-image:url('%webroot%/core/img/actions/add.png'); }*/
.no-svg .delete { background-image:url('%webroot%/core/img/actions/delete.png'); }
.no-svg .delete:hover { background-image:url('%webroot%/core/img/actions/delete-hover.png'); }
.no-svg .edit { background-image:url('%webroot%/core/img/actions/rename.png'); }
.no-svg .share { background-image:url('%webroot%/core/img/actions/share.png'); }
/*.no-svg .groups { background-image:url('%webroot%/core/img/actions/shared.png'); }*/
.no-svg .mail { background-image:url('%webroot%/core/img/actions/mail.png'); }
.no-svg .import, .no-svg .upload { background-image:url('%webroot%/core/img/actions/upload.png'); }
.no-svg .export, .no-svg .download { background-image:url('%webroot%/core/img/actions/download.png'); }
/*.no-svg .cloud { background-image:url('%webroot%/core/img/places/picture.png'); }*/
.no-svg .globe { background-image:url('%webroot%/core/img/actions/public.png'); }
.no-svg .settings { background-image:url('%webroot%/core/img/actions/settings.svg'); }
.no-svg .starred { background-image:url('%appswebroot%/contacts/img/starred.png'); background-size: contain; }
.no-svg .checked { background-image:url('%appswebroot%/contacts/img/checkmark-green.png'); }
.no-svg .checked.disabled { background-image:url('%appswebroot%/contacts/img/checkmark-gray.png'); cursor: default; }

.svg .action.text, .svg .icon.text, .svg .svg.text {
	background-size: 20px 16px;
	background-origin: content-box;
	background-repeat: no-repeat;
}
/*.svg .add { background-image:url('%webroot%/core/img/actions/add.svg'); }*/
.svg .delete { background-image:url('%webroot%/core/img/actions/delete.svg'); }
.svg .delete:hover { background-image:url('%webroot%/core/img/actions/delete-hover.svg'); }
.svg .edit { background-image:url('%webroot%/core/img/actions/rename.svg'); }
.svg .share { background-image:url('%webroot%/core/img/actions/share.svg'); }
/*.svg .groups { background-image:url('%webroot%/core/img/actions/shared.svg'); }*/
.svg .mail { background-image:url('%webroot%/core/img/actions/mail.svg'); }
.svg .import,.svg .upload { background-image:url('%webroot%/core/img/actions/upload.svg'); }
.svg .export,.svg .download { background-image:url('%webroot%/core/img/actions/download.svg'); }
/*.svg .cloud { background-image:url('%webroot%/core/img/places/picture.svg'); }*/
.svg .globe { background-image:url('%webroot%/core/img/actions/public.svg'); }
.svg .settings { background-image:url('%webroot%/core/img/actions/settings.svg'); }
.svg .starred { background-image:url('%appswebroot%/contacts/img/starred.svg'); background-size: contain; }
.svg .checked { background-image:url('%appswebroot%/contacts/img/checkmark-green.svg'); }
.svg .checked.disabled { background-image:url('%appswebroot%/contacts/img/checkmark-gray.svg'); cursor: default; }

.transparent{ opacity: 0.6; }
.float { float: left; display: inline-block; width: auto; }
.float.right { float: right; }
.break { clear: both; }
.loading { background: url('%webroot%/core/img/loading.gif') no-repeat center !important; cursor: wait; }
.wait { opacity: cursor: wait; }
.control {
    border: 1px solid #DDDDDD;
    border-radius: 0.3em;
    color: #555;
    cursor: pointer;
    font-weight: bold;
	font-size: 1em;
	width: auto;
}
.control > * { background: none repeat scroll 0 0 #F8F8F8; color: #555 !important; font-size: 100%; margin: 0px; }

.ui-draggable { height: 3em; z-index: 1000; }
.ui-draggable { height: 3em; z-index: 1000; }
.ui-draggable-dragging {
	cursor: move;
	background-repeat: no-repeat !important;
	background-color: #fff;
	z-index: 5;
	width: 200px; height: 30px;
	text-indent: 30px;
	font-weight: bold;
	border: thin solid silver; border-radius: 3px;
	padding: 3px;
}
.ui-state-hover { border: 1px solid dashed; z-index: 1; }

/* Properties */

.singleproperties { display: inline-block; float: left; width: 270px; }
.singleproperties .fullname { font-weight:bold; font-size:1.5em; width: 250px; margin: 5px 0; }
.singleproperties .n.editor { width: 270px; padding: 3px; }
.singleproperties .n.editor input { width: 95%; }
.singleproperties .propertycontainer input.value { font-weight: bold; }
.singleproperties .propertycontainer input.value.new { border: 3px solid #1d2d44;}
.singleproperties .propertycontainer input.value.error { border: 3px solid red;}
.singleproperties .propertycontainer .action { 
	float: left; 
	width: 20px; height: 20px;
	opacity: 0;
}
.singleproperties .groupscontainer { display: block; clear: left; }
.singleproperties .propertycontainer:hover .action { opacity: 1; }
.singleproperties dl { width: 280px;}

.parameters { 
	width: 120px; 
	float: left; 
	text-align: right; 
	box-sizing: border-box;
	display: inline-block;
	margin-top:10px;
}

ul.propertylist { width: 450px; }
.propertylist li.propertycontainer { white-space: nowrap; min-width: 38em; display: block; clear: both; }
.propertylist li.propertycontainer > .listactions { 
	display: inline-block; 
	clear: none; opacity: 0; 
}
.propertylist li.propertycontainer:hover > .listactions { opacity: 1; }
.propertylist li.propertycontainer .listactions a { 
	display: inline-block; 
	clear: none; 
	width: 16px; height: 16px; 
}

.propertylist { float: left; }
/*.propertylist li > a { display: block; }}*/
.propertylist li > input[type="checkbox"],input[type="radio"] { display: inline-block; }
.propertylist input.value:not([type="checkbox"]) { width: 16em; display: inline-block; font-weight: bold; }
.propertylist input.value:not([type="checkbox"]).new { border: 3px solid #1d2d44;}
.propertylist input.value:not([type="checkbox"]).error { border: 3px solid red;}
.propertylist li > select { float: left; max-width: 8em; }
.select_wrapper { float: left; overflow: hidden; color: #bbb; font-size: 0.8em; }
.select_wrapper select { float: left; overflow: hidden; text-overflow: ellipsis; color: #bbb; width: 8em; }
.select_wrapper select:hover { overflow: inherit; text-overflow: inherit; }
.select_wrapper select option { color: #777; }
.select_wrapper select:hover,.propertylist li > select:focus,.propertylist li > select:active { color: #777; }
.select_wrapper select.rtl { margin-left: -24px; text-align: right; }
.select_wrapper select.ltr { margin-right: -23px; }
.propertylist li > input[type="checkbox"].impp { clear: none; }
.propertylist li > label.xab { display: block; color: #bbb; float:left; clear: both; padding: 0.5em 0 0 2.5em; }
.propertylist li > label.xab:hover { color: #777; }
#rightcontent label, #rightcontent dt, #rightcontent th, #rightcontent .label { 
	float: left; 
	font-size: 0.7em; font-weight: bold; 
	color: #bbb !important; 
	border: 0; 
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#rightcontent label:hover, #rightcontent dt:hover, #rightcontent input.label:hover { color: #777 !important; }
#rightcontent input.label, #rightcontent input.label { margin:-2px; }
#rightcontent input.label:hover, #rightcontent input.label:active { border: 0 none !important; border-radius: 0; cursor: pointer; }
.typelist[type="button"] { float: left; max-width: 8em; border: 0; background-color: #fff; color: #bbb; box-shadow: none; } /* for multiselect */
.typelist[type="button"]:hover { color: #777; } /* for multiselect */
.addresslist { clear: both; font-weight: bold; }

/* Help section */

#ninjahelp { position: relative; bottom: 0; left: 0; right: 0; padding: 1em; margin: 1em; opacity: 0.9; }
#ninjahelp .close { position: absolute; top: 5px; right: 5px; height: 20px; width: 20px; }
#ninjahelp h2, .help-section h3 { width: 100%; font-weight: bold; text-align: center; }
#ninjahelp h2 { font-size: 1.4em; }
.help-section { width: 45%; min-width: 35em; float: left; }
.help-section h3 { font-size: 1.2em; }
.help-section dl { width: 100%; float: left; clear: right; margin: 0; padding: 0; cursor: normal; }
.help-section dt { display: table-cell; clear: left; float: left; width: 35%; margin: 0; padding: 0.2em; text-align: right; text-overflow: ellipsis; vertical-align: text-bottom; font-weight: bold; }
.help-section dd { display: table-cell; clear: right; float: left; margin: 0; padding: 0.2em; white-space: nowrap; vertical-align: text-bottom; }

/* Settings */

.contacts-settings dl { width: 100%; }
.addressbooks-settings table { width: 100%; }
.addressbooks-settings .actions { width: 100%; white-space: nowrap; }
.addressbooks-settings .actions * { float: left; }
.addressbooks-settings .actions input.name { width: 5em; }
.addressbooks-settings .actions input.name { width: 7em; }
.addressbooks-settings a.action { opacity: 0.5; }
.addressbooks-settings a.action:hover { opacity: 1; }
.addressbooks-settings td.active, .addressbooks-settings td.action { width: 20px; }

#contacts-settings .settings { 
	/*width: 20px; height: 20px; 
	float: left;*/
	height:1.4em;
	background-repeat: no-repeat;
	background-position:0px 4px;
	background-origin: content-box;
	background-image:url('%webroot%/core/img/actions/settings.svg'); 
}
#contacts-settings .settings:hover { 
	font-weight: normal;
	color: #666666;
}
#contacts-settings.open {
	height: auto;
	z-index: 10;
	overflow-y: auto;
}
#contacts-settings {
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none repeat scroll 0 0 #EEEEEE;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    height: 2.8em;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: fixed;
    width: 20em;
    z-index: 2;
}
#contacts-settings li,#contacts-settings li:hover { background-color: transparent; white-space: nowrap; }
#contacts-settings a.action:not(.settings) { width: 16px; height: 16px; }
#contacts-settings .actions { float: right; }
#contacts-settings h2 {
	text-indent: .5em;
	font-weight: bold;
	font-size: 1.2em;
}

#contacts-settings .addressbooklist {
	max-height: 250px;
	overflow-y: auto;
}
/* Single elements */
#file_upload_target, #import_upload_target, #crop_target { display:none; }
#import_fileupload {
    height: 2.29em;
    /*width: 2.5em;*/
	width: 95%;
	margin-top: -2.5em;
	display:block;
	clear: right;
	cursor: pointer;
	z-index: 1001;
}
.import-upload-button {
	background-image: url("%webroot%/core/img/actions/upload.svg");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 2.29em;
    width: 2.5em;
    z-index: 100;
	margin: 0;
	cursor: pointer;
}

.doImport{ margin: auto; }

#toggle_all { position: absolute; bottom: .5em; left: .8em; }
input:not([type="checkbox"]).propertytype { 
	float: left; font-size: .8em; 
	max-width: 100px; 
	text-align: right; 
	margin: 0;
}
input[type="checkbox"].propertytype { width: 10px; }
.contactphoto { 
	float: left; display: inline-block; 
	border-radius: 0.3em; border: thin solid #bbb; 
	margin: 0.5em; -moz-box-shadow: 0 1px 3px #777; -webkit-box-shadow: 0 1px 3px #777; box-shadow: 0 1px 3px #777; 
	opacity: 1; 
}
.contactphoto:hover { background: #fff; cursor: default; }
#photowrapper { 
	display: inline-block; 
	position: relative;
	float: left; 
	width: 170px; height: 200px;
	margin: 5px;
}

#photowrapper .favorite {
	display: inline-block;
	float: right;
	position: absolute;
	right: -6px; top: -6px;
	width: 25px; height: 25px;
}
#photowrapper.wait { opacity: 0.6; filter:alpha(opacity=0.6); z-index:1000; background-image: url('%webroot%/core/img/loading.gif'); cursor: wait; }
#phototools { position:absolute; margin: 5px 0 0 10px; width:auto; height:20px; padding:2px; background-color:#fff; list-style-type:none; border-radius: 0.3em; -moz-box-shadow: 0 1px 3px #777; -webkit-box-shadow: 0 1px 3px #777; box-shadow: 0 1px 3px #777; }
#phototools li { display: inline; }
#phototools li a { float:left; opacity: 0.6; }
#phototools li a:hover { opacity: 0.8; }
#contactphoto_fileupload, #import_fileupload { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; z-index:1001; }

.no-svg .favorite { display: inline-block; float: left; height: 20px; width: 20px; background-image:url('%appswebroot%/contacts/img/inactive_star.png'); }
.no-svg .favorite.active, .favorite:hover { background-image:url('%appswebroot%/contacts/img/active_star.png'); }
.no-svg .favorite.inactive { background-image:url('%appswebroot%/contacts/img/inactive_star.png'); }

.svg .favorite { display: inline-block; float: left; height: 20px; width: 20px; background-image:url('%appswebroot%/contacts/img/inactive_star.svg'); background-size:contain; }
.svg .favorite.active, .favorite:hover { background-image:url('%appswebroot%/contacts/img/active_star.svg');	}
.svg .favorite.inactive { background-image:url('%appswebroot%/contacts/img/inactive_star.svg'); background-size:contain; }

/* Header */

#contactsheader { 
	position: fixed; 
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; 
	padding: 0; margin:0; 
	top:3.5em; left:25em; right: 0; height: 4em;
	border-bottom: 1px solid #DDDDDD; z-index: 50;
	background-color: #fff;
}
#contactsheader div.actions { 
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; 
	padding: 0 .5em 0 4em; margin: 0 auto; 
	height: 100%; width: 100%;
}
#groupsheader button, #contactsheader button, #contactsheader select { position: relative; float: left; min-width: 26px; height: 26px; margin: .7em; padding: .2em; clear: none; }
#contactsheader select { width:100px; }
#contactsheader .delete { 
	bottom: 1.4em;
	right: 1em;
	position: absolute;
	background-image:url('%webroot%/core/img/actions/delete.svg');
}
.no-svg #contactsheader .delete { background-image:url('%webroot%/core/img/actions/delete.vg'); float: right;}
#contactsheader .list.add { margin-left: 5em; }


/* Right content layout */

#rightcontent, .rightcontent { position:absolute; top: 4em; left: 20em; right: 0; bottom: 0; overflow-x:hidden; overflow-y: auto; }

/* Contact layout */

#contact > ul > li { white-space: nowrap; }
#contact > ul.propertylist {
	font-size: 10px;
	/*display: table;
	border-spacing: 1em;
	border: thin solid black;*/
}
#contact > ul.propertylist > li {
	display: inline-block;
	padding: 1em;
	/*display: table-cell;*/
}

.display .meta { text-align: right; margin-left: -30px; }
.display .adr { cursor: pointer; margin-left: 30px; }
.adr.editor {
	width: 20em;
	margin-left: 120px;
}
.adr.editor ul {
	-moz-column-count: 1;
	-webkit-columns: 1;
	-o-columns: 1;
	columns: 1;
}
.adr.editor input.value { border: none; }
.adr.editor input.value:hover { border: none; }
.adr.editor input.value.street, ul.adr.edit input.value.country, ul.adr.edit input.value.region { width: 19em;}
.adr.editor input.value.zip { width: 5em; }
.adr.editor input.value.city { width: 10em; margin:4px; }

.note { margin-left: 120px; }

#rightcontent footer { padding: 1em; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; clear: both; }
#rightcontent footer > { display: inline-block; }
/* contact list */

#contactlist { position: relative; top: 0; left: 0; right: 0; width: 100%; }
#contactlist tr { height: 3em; display: none; }
#contactlist tr.active, #contactlist tr:hover { background-color: #eee; }
#contactlist tr > td { border-bottom: 1px solid #DDDDDD; font-weight: normal; text-align: left; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }
#contactlist tr > td:hover { overflow: inherit; text-overflow: inherit; background-color: #fff; z-index: 200; }
#contactlist tr > td:not(.adr) { width: 15%; }
#contactlist tr > td.name>input[type=checkbox]:first-child { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; float:left; margin:.5em 0 0 1.2em; -webkit-transition:opacity 200ms; -moz-transition:opacity 200ms; -o-transition:opacity 200ms; transition:opacity 200ms; }
#contactlist tr > td.name>input[type="checkbox"]:hover:first-child { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:alpha(opacity=80); opacity:.8; }
#contactlist tr > td.name>input[type="checkbox"]:checked:first-child { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity:1; }
#contactlist tr > td.name { font-weight: bold; text-indent: 1.6em; -webkit-transition:background-image 500ms; -moz-transition:background-image 500ms; -o-transition:background-image 500ms;  transition:background-image 500ms; position:relative; background-position:1em .5em !important; background-repeat:no-repeat !important; }
#contactlist tr > td a.mailto { position: absolute; float: right;  clear: none; cursor:pointer; width:16px; height:16px; margin: 2px; z-index: 200; opacity: 0.6; background-image:url('%webroot%/core/img/actions/mail.svg'); }
#contactlist tr > td a.mailto:hover { opacity: 0.8; }
#contactlist.dim { background-image: #ddd; opacity: .50;filter:Alpha(Opacity=50); }

#contact { 
	background-color: white; color: #333333;
	border-radius: 3px; box-shadow: 0 0 10px #888888; 
	padding: 10px; 
	position: fixed !important; 
	z-index: 200; 
	top: 8em; left: 28em;
	width: 490px;
}
#contact .arrow { 
	border-bottom: 20px solid white; 
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent; 
	display: block; 
	height: 0;
	position: absolute; 
	left: -28px; top: 2em;
	width: 0;
	z-index: 201;
	-webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); 
	-ms-transform: rotate(270deg); transform: rotate(270deg);
}

#contact figure img { -moz-border-radius:.3em; -webkit-border-radius:.3em; border-radius:.3em; border: thin solid #bbb; margin: 0.3em; background-image: url('%webroot%/core/img/loading.gif'); -moz-box-shadow: 0 1px 3px #777; -webkit-box-shadow: 0 1px 3px #777; box-shadow: 0 1px 3px #777; opacity: 1; }


#contact span.adr { 
	font-weight: bold;
	float: left; 
	width: 20em; 
	padding-top: .5em; 
	overflow: hidden; text-overflow: ellipsis; text-align: bottom; white-space: nowrap; 
}
#contact span.adr:hover { /*overflow: inherit;*/ /*white-space: pre-wrap;*/ }

#contact > ul.propertylist {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1400px) {
	#contact > ul.propertylist {
		-moz-column-count: 3;
		-webkit-columns: 3;
		-o-columns: 3;
		columns: 3;
	}
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
	#singlevalues { max-width: 50%; }
	#contact > ul.propertylist {
		-moz-column-count: 2;
		-webkit-columns: 2;
		-o-columns: 2;
		columns: 2;
	}
}
@media screen and (max-width: 400px) {
	#contact > ul.propertylist {
		-moz-column-count: 1;
		-webkit-columns: 1;
		-o-columns: 1;
		columns: 1;
	}
}

@media screen and (max-width: 1500px) {
	#contactlist tr td.categories { display: none; }
}
@media screen and (max-width: 1400px) {
	#contactlist tr td.adr { display: none; }
}
@media screen and (max-width: 1200px) {
	#contactlist tr td.tel { display: none; }
}
@media screen and (max-width: 900px) {
	#contactlist tr td.email { display: none; }
}
