table.activitysettings {
	max-width: 550px;
}

table.activitysettings th.small {
	width: 5em;
}

table.activitysettings tbody tr {
	height: 2.5em;
}

table.activitysettings th.small,
table.activitysettings td.small {
	text-align: center;
}

table.activitysettings td.small label {
	width: 100%;
	height: 100%;
	display: block;
}
