.activityheadline {
	font-weight: bold;
	font-size:2.2em;
	color: #666;
	margin-top: 10px;
	padding: 10px 20px;
}

.activitysubject { font-size:1.0em; color: #333;}
.activitymessage { font-size:0.8em; color:#666;}

.activityerror { font-weight: bold; font-size:1.2em; color: #666; padding:10px; text-align: center;}


.rssbutton {
	font-size: 0.8em;
	float: right;
	margin:0.6em;
}

#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
		  border-radius: 5px;
}

.box {
  width: 240px;
  float: left;
  padding: 15px;
  margin: 10px;
  background: #EEE;
  font-weight: 300;
  border: 1px solid #DDD;
  -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
		  border-radius: 5px;
}

.box .avatar{
	float: left;
	margin-right: 20px;
}

.box .header{
	height: 32px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.box .messagecontainer{
	width: 100%;
	display: block;
}

.box .preview{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.box .user{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	display: inline-block;
	width: 180px;
}

.box .user{
	font-weight: bold;
}

.box .activitytime {
	float: left;
	color:#666;
	font-size: 0.8em;
}

/* Infinite Scroll loader */
#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
		  border-radius: 10px;
}

