.ie8 #editor_container div{
	/* override core style.css font-size:100% that messes up the editor in IE8 */
	font-size: 12px !important;
}

#editor_container #editor {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 20;
	height: 100%;
	width: 100%;
}

#editor_container{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	padding-top: 44px;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#editor_save {
	margin-left: 7px;
	margin-right: 20px;
	float: left;
}

#editor_close {
	float: right;
	margin-right: 9px;
}
