#editor_container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:1000;
}
#editor_container #controls {
	position: initial;
}
#editor {
	position: absolute;
	top:36px;
	bottom:0;
	width:100%;
}


#editor_save {
	margin-left: 7px;
	float: left;
}
