.ie8 .ace_editor div{
	/* override core style.css font-size:100% that messes up the editor in IE8 */
	font-size: 12px !important;
	color: #123456;
}
#editor{
	position: fixed;
	display: block;
	top: 6.8em;
	z-index: 20;
}
#editor_save{
	margin-left: 7px;
	float: left;
}
