#map { height: 100%; width: 100%; }
#sidebar {
	position: absolute;
	width: 200px;
	height: 300px;
	overflow: hidden;
	top: 100px;
/* 	left: 50px; */
	border: 1px solid #CCCCCC;
	box-shadow: -3px 0 7px #000000;
	background-color: white;
	opacity: 0.85;
}


.cat_panel {
	width: 100%;
	height: 100%;
	width: 200px;
	height: 300px;
	float:left;
	padding: 5px;
}

#search_field {
	position: absolute;
	top: 60px;
/* 	left: 450px; */
	width: 100%;
	text-align: center;
}
#search_field input {
	margin:auto;
	width: 400px;
	background-color:white;
}
.star {
	background-image: url('%appswebroot%/map/img/inactive_star.svg');
	background-repeat: no-repeat;
	background-size: 1.2em 1.2em;
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	float: left;
	
}

.star.important{
	background-image: url('%appswebroot%/map/img/active_star.svg');
}

.cat_titles > li{
	list-style:none;
	font-weight: bold;
}


/***** TEEEEEMP -*****/

ul.sub_category
{
	max-height: 200px;
	overflow-y: auto;
	font-size:small;
	font-weight:normal;
	padding-left: 0.5em;
}

ul.sub_category li span
{
	color: gray;
	font-size:x-small;
	float:right;
	padding-right: 0.5em;
}