
#leftcontent { top: 3.5em !important; padding: 0; margin: 0; }
#rightcontent { top: 3.5em !important; padding-top: 5px; }

#bottomcontrols { padding: 0; bottom:0px; height:2.8em; width: 20em; margin:0; background:#eee; border-top:1px solid #ccc; position:fixed; -moz-box-shadow: 0 -3px 3px -3px #000; -webkit-box-shadow: 0 -3px 3px -3px #000; box-shadow: 0 -3px 3px -3px #000;}
button.control { float: left; margin: 0.2em 0 0 1em; height: 2.4em; width: 2.4em; /* border: 0 none; border-radius: 0; -moz-box-shadow: none; box-shadow: none; outline: 0 none;*/ }
.settings { background:url('%webroot%/core/img/actions/settings.svg') no-repeat center; float: right !important; margin: 0.2em 1em 0 0 !important; }

#firstrun {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -25em;
    margin-top: -10em;
    width: 50em;
    height: 20em;
    text-align: center;
    font-weight:bold;
    font-size:1.5em;
    color:#777;
}

#firstrun small { display: block; font-weight: normal; font-size: 0.8em; margin: .5em 0 1em 0; }
#firstrun .button { font-size: 0.7em; }

#firstrun #selections {
    font-size:0.8em;
    margin: 2em auto 2em 10em;
    clear: both;
}

#firstrun #email_address { width:20em; }

#firstrun #selections #addaccount_dialog_firstrun{
    width:40em;
    border:1px solid;
    border-color: gray;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

#firstrun #selections #addaccount_dialog_firstrun {
    height:5em;
}


#mail_messages>li { border-bottom:1px solid black; }
#mail_messages>li:last { border-bottom:none; }

.mail_message_summary_info { white-space:nowrap; overflow: hidden; }
.mail_message_summary_subject { white-space:nowrap; overflow:hidden; }
