/*body {*/
	/*background:#ddd;*/
/*}*/

#header {
	background: #1d2d44 url('%webroot%/core/img/noise.png') repeat;
	height:32px;
	left:0;
	line-height:32px;
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	padding:7px;
}

#gallery {
	margin-top: 45px;
}

.header-right {
	padding: 0;
	height: 32px;
}

#details {
	color:#fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
	padding-right: 5px;
}

#public_upload,
#download {
	font-weight:700;
	margin: 0 0.4em 0 0;
	padding: 0 5px;
	height: 32px;
	float: left;

}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #404040 url('%webroot%/core/img/noise.png') repeat;
}

/* toggle for opening shared picture view as file list */
#openAsFileListButton {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: normal;
}
#openAsFileListButton img {
	vertical-align: text-top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}


/* transfer to core after body has the id #body-public / #body-public-dark */

footer {
	text-align: center;
	color: #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}
footer p.info a {
	font-weight: bold;
	color: #ccc;
	padding: 13px;
	margin: -13px;
}

/* Sticky footer */
body .wrapper {
	min-height: 86%;
	margin: 0 auto -50px;
}
body footer, body .push {
	height: 70px;
}
footer p.info {
	padding-top: 30px;
}
