/*body {*/
	/*background:#ddd;*/
/*}*/

#header {
	background: #1d2d44 url('%webroot%/core/img/noise.png') repeat;
	height:32px;
	left:0;
	line-height:32px;
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	padding:7px;
}

#gallery {
	margin-top: 45px;
}

#details {
	color:#fff;
	float: left;
}

#public_upload,
#download {
	font-weight:700;
	margin: 0 0.4em 0 0;
	padding: 0 5px;
	height: 32px;
	float: left;

}

.header-right #details {
	margin-right: 28px;
}

.header-right {
	padding: 0;
	height: 32px;
}

body {
	text-align: center;
	background: #1d2d44; /* Old browsers */
	background: url('%webroot%/core/img/noise.png'), -moz-linear-gradient(top, #35537a 0%, #1d2d44 100%); /* FF3.6+ */
	background: url('%webroot%/core/img/noise.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35537a), color-stop(100%,#1d2d44)); /* Chrome,Safari4+ */
	background: url('%webroot%/core/img/noise.png'), -webkit-linear-gradient(top, #35537a 0%,#1d2d44 100%); /* Chrome10+,Safari5.1+ */
	background: url('%webroot%/core/img/noise.png'), -o-linear-gradient(top, #35537a 0%,#1d2d44 100%); /* Opera11.10+ */
	background: url('%webroot%/core/img/noise.png'), -ms-linear-gradient(top, #35537a 0%,#1d2d44 100%); /* IE10+ */
	background: url('%webroot%/core/img/noise.png'), linear-gradient(top, #35537a 0%,#1d2d44 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35537a', endColorstr='#1d2d44',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}
