#gallery {
    margin-top: 2.8em;
    overflow: auto;
}

#gallery > a.album {
    width: 200px;
}

#gallery > a {
    display: inline-block;
    height: 200px;
    margin: 1em;
}

#slideshow-start {
    position: absolute;
    right: 13.5em;
}
